<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="aura_gazebo" params="prefix use_mimic:=false">

    <xacro:if value="${use_mimic}">

      <!--Mimic Joint Plug in for Gazebo-->
      <xacro:macro name="mimic_joint_plugin_gazebo" params="name_prefix parent_joint mimic_joint has_pid:=false multiplier:=1.0 offset:=0 sensitiveness:=0.0 max_effort:=1.0 robot_namespace:=''">
        <gazebo>
          <plugin name="${name_prefix}mimic_joint_plugin" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
            <joint>${parent_joint}</joint>
            <mimicJoint>${mimic_joint}</mimicJoint>
            <xacro:if value="${has_pid}">                    
              <hasPID />
            </xacro:if>
            <multiplier>${multiplier}</multiplier>
            <offset>${offset}</offset>
            <sensitiveness>${sensitiveness}</sensitiveness>  
            <maxEffort>${max_effort}</maxEffort>             
            <xacro:unless value="${robot_namespace == ''}">
              <robotNamespace>($robot_namespace)</robotNamespace>
            </xacro:unless>
          </plugin>
        </gazebo>
      </xacro:macro> 
      
      <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}joint_2m"
            parent_joint="${prefix}joint_2" mimic_joint="${prefix}joint_2m"
            has_pid="false" multiplier="1.0" max_effort="10.0" /> 

    </xacro:if>
    <!--gazebo reference="${prefix}aura_footprint">
      <static>true</static>
    </gazebo-->

    <gazebo reference="${prefix}base_link">
      <static>true</static>
      <gravity>false</gravity>
      <selfCollide>false</selfCollide>
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="${prefix}link_1">
      <gravity>false</gravity>
      <selfCollide>false</selfCollide>
      <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="${prefix}link_2">
      <gravity>false</gravity>
      <selfCollide>false</selfCollide>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="${prefix}link_3">
      <gravity>false</gravity>
      <selfCollide>false</selfCollide>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="${prefix}link_3_virtual">
      <gravity>false</gravity>
      <selfCollide>false</selfCollide>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="${prefix}link_4">
      <gravity>false</gravity>
      <selfCollide>false</selfCollide>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="${prefix}link_5">
      <gravity>false</gravity>
      <selfCollide>false</selfCollide>
      <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="${prefix}link_6">
      <gravity>false</gravity>
      <selfCollide>false</selfCollide>
      <material>Gazebo/Black</material>
    </gazebo>

  </xacro:macro>

</robot>
