<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="aura_desc">
  
  <xacro:include filename="$(find aura_description)/urdf/comau_common.macro.xacro" />

  <!--xacro:property name="damp" default="0.02"/>
  <xacro:property name="fric" default="0.0"/>
  <xacro:property name="dummy_inertia" default="1"/-->
  <xacro:property name="m_scale" default="0.01"/>

  <!--xacro:include filename="$(find aura_description)/urdf/aura/aura.transmission.xacro" />
  <xacro:include filename="$(find aura_description)/urdf/aura/aura.gazebo.xacro" />

 <xacro:macro name="aura_robot" params="prefix use_mimic:=false transmission_hw_interface:=hardware_interface/PositionJointInterface">

    <xacro:aura_transmission prefix="${prefix}" hw_interface="${transmission_hw_interface}" />
    <xacro:aura_gazebo prefix="${prefix}" use_mimic="${use_mimic}"/-->

    <link name="base_link">
      <inertial>
      <origin
        xyz="0.0190768727000594 -0.00273219739469353 0.224558520234347"
        rpy="0 0 0" />
      <mass
        value="${614.304391869703 * m_scale}" />
      <inertia
        ixx="28.5802635516256"
        ixy="0.00727927797804216"
        ixz="0.299680358784856"
        iyy="31.073773310292"
        iyz="0.0069437441373793"
        izz="56.3330921844227" />
    </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/viz/base_link.STL" />
        </geometry>
        <xacro:c_d_grey/>
      </visual>
      <collision>
        <xacro:col_mask_0/>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/col/base_link.STL"/>
        </geometry>
      </collision>
    </link>

    <link name="link_1">
      <inertial>
      <origin
        xyz="0.266373725873378 0.00385598734773701 0.381638394835449"
        rpy="0 0 0" />
      <mass
        value="${848.522894701881 * m_scale}" />
      <inertia
        ixx="49.3087902451513"
        ixy="0.86766706218942"
        ixz="-11.6355039302912"
        iyy="47.6784496847126"
        iyz="0.356500383449339"
        izz="50.5565394772442" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/viz/Axis-1.STL" />
        </geometry>
        <xacro:c_blue/>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <xacro:col_mask_1/>
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/col/Axis-1.STL"/>
        </geometry>
      </collision>
    </link>



    <link name="link_2">
      <inertial>
      <origin
        xyz="-0.130676544255706 -0.0799633110698596 0.420177344523501"
        rpy="0 0 0" />
      <mass
        value="${239.125682401514 * m_scale}" />
      <inertia
        ixx="29.0000847886552"
        ixy="-0.0137913581559178"
        ixz="-0.38050514193246"
        iyy="29.5862783708273"
        iyz="0.448920656507232"
        izz="3.35361301596861" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/viz/Axis-2.STL" />
        </geometry>
        <xacro:c_grey/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:col_mask_0/>
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/col/Axis-2.STL"/>
        </geometry>
      </collision>
    </link>



    <link name="link_3">
      <inertial>
      <origin
        xyz="-0.0729518648260472 0.0292430153422261 0.190940156994843"
        rpy="0 0 0" />
      <mass
        value="${311.238256143032 * m_scale}" />
      <inertia
        ixx="11.54793486791"
        ixy="0.0389853984707502"
        ixz="-0.961629773567723"
        iyy="8.37635262458699"
        iyz="-0.92294880100034"
        izz="9.81126840885521" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/viz/Axis-3.STL" />
        </geometry>
        <xacro:c_grey/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:col_mask_0/>
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/col/Axis-3.STL"/>
        </geometry>
      </collision>
    </link>

    <link name="link_3_virtual">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="${0.1 * m_scale}" />
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
      </inertial>
    </link>

    <link name="link_4">
      <inertial>
      <origin
        xyz="0.812887178114926 0.000362663375719755 -0.00614579685957262"
        rpy="0 0 0" />
      <mass
        value="${136.485755345134 * m_scale}" />
      <inertia
        ixx="1.44924828438087"
        ixy="-0.0010420322322568"
        ixz="0.182154802830561"
        iyy="23.7605547929294"
        iyz="0.0398572873015"
        izz="23.7018207836833" />
    </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />  
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/viz/Axis-4.STL" />
        </geometry>
        <xacro:c_grey/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" /> 
        <xacro:col_mask_0/>
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/col/Axis-4.STL"/>
        </geometry>
      </collision>
    </link>



    <link name="link_5">
      <inertial>
      <origin
        xyz="0.0568185601062883 0.000539823436256374 0.13348534058869"
        rpy="0 0 0" />
      <mass
        value="${38.6467341460785 * m_scale}" />
      <inertia
        ixx="0.470449491695078"
        ixy="-0.000517824470923669"
        ixz="0.0313276463840993"
        iyy="0.615934928772394"
        iyz="-0.000786523511302322"
        izz="0.418403890019268" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/viz/Axis-5.STL" />
        </geometry>
        <xacro:c_blue/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:col_mask_1/>
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/col/Axis-5.STL" />
        </geometry>
      </collision>
    </link>



    <link name="link_6">
      <inertial>
      <origin
        xyz="0.0242228852262389 0.00139203375363176 0.000729669966204494"
        rpy="0 0 0" />
      <mass
        value="${7.9221411142153 * m_scale}" />
      <inertia
        ixx="0.0703548868386956"
        ixy="0.000116981956754875"
        ixz="9.17709285092661E-05"
        iyy="0.0355404313512897"
        iyz="-0.000841076901867076"
        izz="0.0361480651851593" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/viz/Axis-6.STL" />
        </geometry>
        <xacro:c_d_grey/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:col_mask_0/>
        <geometry>
          <mesh filename="package://aura_description/meshes/aura/col/Axis-6.STL"/>
        </geometry>
      </collision>
    </link>

    <link name="ee_link"/>

   <!-- joints: main serial chain -->
    <joint name="joint_1" type="revolute">
      <origin
      xyz="0 0 0.466"
      rpy="0 0 0" />
      <parent link="base_link" />
      <child link="link_1" />
      <axis
        xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="6300.0"
        velocity="2.0" />
      <!--dynamics damping="${damp}" friction="${fric}"/-->
    </joint>

    <joint name="joint_2" type="revolute">
    <origin
      xyz="0.4 0 0.504"
      rpy="0 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.34"
      upper="1.48"
      effort="3300.0"
      velocity="2.0" />
    <!--dynamics damping="${damp}" friction="${fric}"/-->
    </joint>


      <joint name="joint_2m" type="fixed">
        <origin
        xyz="0 0 1.175"
        rpy="0 ${-M_PI/2} 0" />
        <parent link="link_2" />
        <child link="link_3_virtual" />
      </joint>

      <joint name="joint_3" type="revolute">
        <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <parent link="link_3_virtual" />
        <child link="link_3" />
        <axis
          xyz="0 -1 0" />
        <limit
          lower="-2.2607"           
          upper="-0.69079" 
          effort="1000.0"
          velocity="2.0" />
        <!--dynamics damping="${damp}" friction="${fric}"/-->
      </joint>

    <!--xacro:if value="${use_mimic}">
      <joint name="joint_2m" type="continuous">
        <origin
        xyz="0 0 1.175"
        rpy="0 ${-M_PI/2} 0" />
        <parent link="link_2" />
        <child link="link_3_virtual" />
        <axis
          xyz="0 -1 0" />
        <mimic joint="joint_2" multiplier="1" offset="0" />
        <dynamics damping="${damp}" friction="${fric}"/>
      </joint>

      <joint name="joint_3" type="revolute">
        <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <parent link="link_3_virtual" />
        <child link="link_3" />
        <axis
          xyz="0 -1 0" />
        <limit
          lower="-3.8397"           
          upper="-0.8726" 
          effort="1000.0"
          velocity="2.0" />
        <dynamics damping="${damp}" friction="${fric}"/>
      </joint>
    </xacro:if-->

    <joint name="joint_4" type="revolute">
      <origin
      xyz="0.105 0 0.249999999999999"
      rpy="0 0 0" />
      <parent link="link_3" />
      <child link="link_4" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="60.0"
      velocity="2.0" />
    <!--dynamics damping="${damp}" friction="${fric}"/-->
    </joint>

    <joint name="joint_5" type="revolute">
      <origin
      xyz="1.279 0 0.029358"
      rpy="0 0 0" />
      <parent link="link_4" />
      <child link="link_5" />
    <axis
      xyz="0.5 0 0.86603" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="60.0"
      velocity="2.0" />
    <!--dynamics damping="${damp}" friction="${fric}"/-->
    </joint>

    <joint name="joint_6" type="revolute">
      <origin
        xyz="0.16105 0 0.10055"
        rpy="0 0 0" />
      <parent link="link_5" />
      <child link="link_6" />
      <axis
        xyz="-1 0 0" />
      <limit
        lower="-3.49"
        upper="3.49"
        effort="60.0"
        velocity="2.0" />
      <!--dynamics damping="${damp}" friction="${fric}"/-->
    </joint>

    <joint name="fixed_ee_joint" type="fixed">
      <origin
      xyz="0.0 0 0.0"
      rpy="0 ${M_PI/2} 0" />
      <parent link="link_6"/>
      <child link="ee_link"/>
      <axis xyz="0 0 0"/>
    </joint>

  </xacro:macro>


</robot>
