<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nj4-170-29">

   
  <xacro:include filename="$(find nj4-170-29_description)/urdf/nj4-170-29/nj4-170-29.urdf.xacro" />

  <xacro:nj4-170-29_desc/>

  <!-- Import robot ros2_control description -->
  <xacro:include filename="$(find nj4-170-29_description)/ros2_control/nj4-170-29.ros2_control.xacro" />
  <xacro:robot_ros2_control name="nj4-170-29"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
