<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nj220">

   
  <xacro:include filename="$(find nj220_description)/urdf/nj220/nj220.urdf.xacro" />

  <xacro:nj220_desc/>

  <!-- Import robot ros2_control description -->
  <xacro:include filename="$(find nj220_description)/ros2_control/nj220.ros2_control.xacro" />
  <xacro:robot_ros2_control name="nj220"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>



</robot>
