<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="racer3-robolab_description">

   <xacro:include filename="$(find racer3-robolab_description)/urdf/comau_common.macro.xacro" />
    <link name="base_link">
      <inertial>
        <origin
          xyz="-0.016636 6.6236E-05 0.1434"
          rpy="0 0 0" />
        <mass value="2.0229" />
        <inertia
          ixx="0.017797"
          ixy="1.089E-05"
          ixz="-0.0015563"
          iyy="0.021457"
          iyz="3.4388E-06"
          izz="0.01391" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/base_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/base_link.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="joint_1" type="revolute" >
      <origin
        xyz="0 0 0.1895"
        rpy="0 0 0" />
      <parent link="base_link" />
      <child link="link_1" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-2.9671"
        upper="2.9671"
        effort="10"
        velocity="7.505" />
    </joint>

    <link name="link_1">
      <inertial>
        <origin
          xyz="0.037613 -0.0046294 0.12026"
          rpy="0 0 0" />
        <mass value="1.9248" />
        <inertia
          ixx="0.019905"
          ixy="3.4778E-05"
          ixz="-0.0014898"
          iyy="0.011831"
          iyz="5.5203E-06"
          izz="0.015747" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_1.STL" />
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_1.STL" />
        </geometry>
      </collision>
    </link>
    
    <joint name="joint_2" type="revolute">
      <origin
        xyz="0.05 -0.061 0.1755"
        rpy="1.5708 0 3.1416" />
      <parent link="link_1" />
      <child link="link_2" />
      <axis xyz="0 0 1" />
      <limit
        lower="-1.658"
        upper="2.3562"
        effort="10"
        velocity="7.854" />
    </joint>

    <link name="link_2">
      <inertial>
        <origin
          xyz="0.010347 0.13657 0.054592"
          rpy="0 0 0" />
        <mass value="3.4564" />
        <inertia
          ixx="0.058804"
          ixy="0.00015816"
          ixz="0.00017946"
          iyy="0.022045"
          iyz="0.0031397"
          izz="0.0451" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_2.STL" />
        </geometry>
        <material name="">
          <color rgba="1 0 0 1"/>
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_2.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="joint_3" type="revolute">
      <origin
        xyz="0 0.27 0.061"
        rpy="3.1416 0 -1.5708" />
      <parent link="link_2" />
      <child link="link_3" />
      <axis xyz="0 0 1" />
      <limit
        lower="-2.7052"
        upper="1.5708"
        effort="10"
        velocity="8.7266" />
    </joint>

    <link name="link_3">
      <inertial>
        <origin
          xyz="0.0080282 -0.019516 0.0018914"
          rpy="0 0 0" />
        <mass value="0.8596" />
        <inertia
          ixx="0.0016966"
          ixy="-0.00057162"
          ixz="-3.7302E-05"
          iyy="0.0019617"
          iyz="-3.9612E-05"
          izz="0.0023739" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_3.STL" />
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.92941 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_3.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="joint_4" type="revolute">
      <origin
        xyz="-0.059 -0.049998 0"
        rpy="-1.5708 0 -1.5708" />
      <parent link="link_3" />
      <child link="link_4" />
      <axis xyz="0 0 1" />
      <limit
        lower="-3.49"
        upper="3.49"
        effort="10"
        velocity="10.472" />
    </joint>

    <link name="link_4">
      <inertial>
        <origin
          xyz="-0.0045419 -0.0021605 -0.11523"
          rpy="0 0 0" />
        <mass
          value="1.4105" />
        <inertia
          ixx="0.0098629"
          ixy="6.3118E-06"
          ixz="-7.3475E-07"
          iyy="0.0098288"
          iyz="-0.00019287"
          izz="0.0028185" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_4.STL" />
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_4.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="joint_5" type="revolute">
      <origin
        xyz="0 0 -0.24694"
        rpy="1.5708 -1.5708 0" />
      <parent link="link_4" />
      <child link="link_5" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-2.182"
        upper="2.182"
        effort="10"
        velocity="10.472" />
    </joint>

    <link name="link_5">
      <inertial>
        <origin
          xyz="-0.027292 -5.5585E-06 0.0013713"
          rpy="0 0 0" />
        <mass value="0.26759" />
        <inertia
          ixx="0.00013885"
          ixy="3.3094E-08"
          ixz="-9.132E-06"
          iyy="0.00027115"
          iyz="3.4929E-08"
          izz="0.00026254" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_5.STL" />
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_5.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="joint_6" type="revolute">
      <origin
        xyz="-0.08 0 0"
        rpy="-1.5708 0 1.5708" />
      <parent link="link_5" />
      <child link="link_6" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-47.10644"
        upper="47.10644"
        effort="10"
        velocity="15.708" />
    </joint>

    <link name="link_6">
      <inertial>
        <origin
          xyz="-0.00012945 -2.0472E-06 0.0049276"
          rpy="0 3.1416 0" />
        <mass value="0.005552" />
        <inertia
          ixx="4.0821E-07"
          ixy="1.4323E-10"
          ixz="-2.0042E-09"
          iyy="3.9919E-07"
          iyz="-5.1864E-11"
          izz="7.3413E-07" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 3.1416 1.5708" />
        <geometry>
          <mesh
            filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_6.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 3.1416 1.5708" />
        <geometry>
          <mesh
            filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/link_6.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="joint_flange" type="fixed">
      <origin
        xyz="0 0 0.028"
        rpy="0 0 0" />
      <parent link="link_6" />
      <child link="flange" />
      <axis xyz="0 0 1" />
    </joint>

    <link name="flange"> </link>

    <!-- Gripper -->

    <joint name="joint_flange_gripper" type="fixed">                      
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <parent link="flange" />
      <child link="vacuum_base" />
      <axis xyz="0 0 1" />
    </joint>

    <link name="vacuum_base">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0"/>
        <mass value="1.0"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <visual name="visual">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -1.5708"/>
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/gripper_realsense.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
      
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -1.5708"/>
        <geometry>
          <mesh filename="file://$(find racer3-robolab_description)/meshes/racer3-robolab/gripper_realsense.STL" scale="0.00101 0.00101 0.00101"/>
        </geometry>
      </collision>
    </link>

    <joint name="joint_gripper" type="fixed">                      
      <origin
        xyz="0 0 0.278"
        rpy="0 0 0" />
      <parent link="vacuum_base" />
      <child link="vacuum_cylinder" />
      <axis xyz="0 0 1" />
    </joint>

    <link name="vacuum_cylinder">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <visual name="visual">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <cylinder length="0.090" radius="0.0103"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <cylinder length="0.090" radius="0.0103"/>
        </geometry>
      </collision>
    </link>

    <joint name="joint_tcp" type="fixed">
      <origin xyz="0 0.0013 0.3360" rpy="0 0 -1.57079"/>
      <parent link="flange"/>
      <child link="tcp"/>
      <axis xyz="0 0 0"/>
    </joint>

    <link name="tcp"/>

  </xacro:macro>

</robot>
