<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nj4-110">

   
  <xacro:include filename="$(find nj4-110_description)/urdf/nj4-110/nj4-110.urdf.xacro" />

  <xacro:nj4_110_desc/>

  <!-- Import robot ros2_control description -->
  <xacro:include filename="$(find nj4-110_description)/ros2_control/nj4-110.ros2_control.xacro" />
  <xacro:robot_ros2_control name="nj4-110"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>