<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="racer5-0-80">

  <!--load racer5-0-80 -->
  <xacro:include filename="$(find racer5-0-80_description)/urdf/racer5-0-80/racer5-0-80.urdf.xacro" />

  <xacro:racer5-0-80_description/>

  <!-- Import robot ros2_control description -->
  <xacro:include filename="$(find racer5-0-80_description)/ros2_control/racer5-0-80.ros2_control.xacro" />
  <xacro:robot_ros2_control name="racer5-0-80"/>

</robot>
