<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aura">

  <!--load aura -->
  <xacro:include filename="$(find aura_description)/urdf/aura/aura.urdf.xacro" />

  <xacro:aura_desc/>

  <!-- Import robot ros2_control description -->
  <xacro:include filename="$(find aura_description)/ros2_control/aura.ros2_control.xacro" />
  <xacro:robot_ros2_control name="aura"/>


</robot>
