<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="nj-165-30_desc">

  <xacro:include filename="$(find nj-165-30_description)/urdf/comau_common.macro.xacro" />
  <!--xacro:include filename="$(find nj-165-30_description)/urdf/nj-165-30/nj-165-30.transmission.xacro" />
  <xacro:include filename="$(find nj-165-30_description)/urdf/nj-165-30/nj-165-30.gazebo.xacro" /-->

  <!--Experimental Parameters!-->
  <xacro:property name="col_scale" default="1.0"/>
  <!--Just to make sure the dont self collide-->
  <xacro:property name="damp" default="0.02"/>
  <xacro:property name="fric" default="0.0"/>
  <xacro:property name="m_scale" default="0.01"/>
  <!--To Reduce VIbrations-->

  <!--xacro:macro name="nj-165-30_robot" params="prefix transmission_hw_interface:=hardware_interface/EffortJointInterface">

    <xacro:nj-165-30_transmission prefix="" hw_interface="${transmission_hw_interface}" />
    <xacro:nj-165-30_gazebo prefix="" /-->

    <!-- Links: main link chain -->

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.023 0 0.2"
        rpy="0 0 0" />
      <mass
        value="254.93" />
      <inertia
        ixx="7.188"
        ixy="0.014"
        ixz="0.147"
        iyy="8.777"
        iyz="-0.004"
        izz="13.957" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/base_link.STL" />
        </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/base_link.STL" />
        </geometry>
      </collision>
    </link>

  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.291 0.374 -0.025"
        rpy="0 0 0" />
      <mass
        value="442.556" />
      <inertia
        ixx="16.063"
        ixy="-4.822"
        ixz="-0.149"
        iyy="17.09"
        iyz="0.29"
        izz="16.831" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_1.STL" />
        </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_1.STL" />
        </geometry>
      </collision>
    </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.33"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="7448"
      velocity="1.745" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.512 -0.02 0.002"
        rpy="0 0 0" />
      <mass
        value="110.704" />
      <inertia
        ixx="2.028"
        ixy="0.077"
        ixz="-0.504"
        iyy="20.336"
        iyz="0.009"
        izz="20.108" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_2.STL" />
        </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_2.STL" />
        </geometry>
      </collision>
    </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0.4 0.5 0"
      rpy="0 0 1.5708" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.309"
      upper="1.658"
      effort="13475"
      velocity="1.571" />
  </joint>
    <link name="link_3">
    <inertial>
      <origin
        xyz="0.149 0.005 0.006"
        rpy="0 0 0" />
      <mass
        value="34.992" />
      <inertia
        ixx="0.141"
        ixy="-0.022"
        ixz="0.014"
        iyy="0.584"
        iyz="0.001"
        izz="0.665" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_3.STL" />
        </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_3.STL" />
        </geometry>
      </collision>
    </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="1.175 0 0"
      rpy="1.5708 0 3.1416" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-4.014"
      upper="0.175"
      effort="7840"
      velocity="1.92" />
  </joint>

  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0 1.063 -0.014"
        rpy="0 0 0" />
      <mass
        value="101.884" />
      <inertia
        ixx="27.951"
        ixy="0.006"
        ixz="-0.001"
        iyy="0.717"
        iyz="0.025"
        izz="27.91" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_4.STL" />
        </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_4.STL" />
        </geometry>
      </collision>
    </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="-0.113 0 0.25"
      rpy="1.5708 1.5708 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-47.124"
      upper="47.124"
      effort="2800"
      velocity="2.269" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0 0.017 0.101"
        rpy="0 0 0" />
      <mass
        value="32.017" />
      <inertia
        ixx="0.507"
        ixy="0.001"
        ixz="0"
        iyy="0.262"
        iyz="0.028"
        izz="0.388" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
        <mesh
          filename="package://nj_165_30/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_5.STL" />
        </geometry>
      </collision>
    </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 -1.331 0"
      rpy="0 0 1.5708" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.182"
      upper="2.182"
      effort="2890"
      velocity="2.269" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0 -0.001 0.214"
        rpy="0 0 0" />
      <mass
        value="4.861" />
      <inertia
        ixx="0.014"
        ixy="0"
        ixz="0"
        iyy="0.014"
        iyz="0"
        izz="0.027" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_6.STL" />
        </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://nj-165-30_description/meshes/nj-165-30/link_6.STL" />
        </geometry>
      </collision>
    </link>

  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="-0.23 0 0"
      rpy="0 0 -3.1416" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-47.124"
      upper="47.124"
      effort="1700"
      velocity="3.403" />
  </joint>
    <link name="ee_link"/>

  <joint name="fixed_ee_joint" type="fixed">
      <origin
      xyz="0.0 0 0.0"
      rpy="1.57 0 1.57" />
      <parent link="link_6"/>
      <child link="ee_link"/>
  </joint>
  </xacro:macro>

</robot>
