<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="racer5-cobot-rail">

  <!--load racer5-cobot-rail -->
  <xacro:include filename="$(find racer5-cobot-rail_description)/urdf/racer5-cobot-rail/racer5-cobot-rail.urdf.xacro" />

  <xacro:racer5-cobot-rail_description/>

  <!-- Import robot ros2_control description -->
  <xacro:include filename="$(find racer5-cobot-rail_description)/ros2_control/racer5-cobot-rail.ros2_control.xacro" />
  <xacro:robot_ros2_control name="racer5-cobot-rail"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "bridge_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
